/*Animated Message Options*/                   @import url("https://raw.githubusercontent.com/HeroOfDungeon/snippets/refs/heads/main/More%20Animations.css"); /*Animated Message Options*/
/*Simplified Panels Area*/                     @import url(https://davart154.github.io/Themes/Snippets/Simplified%20Panel%20Area/SimplifiedPanelArea.css);
/*Mention/Replying Gradient Highlight Colors*/ @import url("https://raw.githubusercontent.com/BurningStoneDiscord/DiscordHighlightGradient/refs/heads/main/MentionReplyingFancyGradient.css");
/*@import url("https://ukriu.github.io/cssCord/Other/noDistractions.css");*/
/*@import url(https://blade04208.github.io/ddex4/src/bubbles.css);;*/
/*Visual Refresh Seamless Chat Bar*/           @import url("https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css");
/*Add Icons to your Sidebars*/                 @import url("https://gold-me.github.io/DiscordIcons/main.css");


:root {
    /*Animated Message Options*/
      --animation-speed: 0.1s;

    /*Visual Refresh Seamless Chat Bar*/
      /* change padding of the bar */
      --rscb-chat-box-padding: 8px; /* default is 8px for alignment */
      /* Whether you want the chat to not move up *\
      \*    and down when someone starts typing   */
      --rscb-no-jump-chat: 0;
      /* Whether you want the messages to clip through *\
      \*  the gap between slowmode and typing people   */
      --rscb-clip-chat-through-typing-bar: 0;
}

  /* Make context menu compact */
  .layer_da8173 > .menu_c1e9c4 > .scroller_c1e9c4 {
      margin: -4px;
      .separator_c1e9c4 {
          margin: 1px 8px !important;
      }
      .wrapper_f563df {
          padding: 2px !important;
      }
      .item_c1e9c4{
          /* min-height is 32px as default, change value for desired look */
          min-height: 32;
          /* padding is 4px 8px as default, change value for desired look */
          padding: 4px 8px;
      }
  }

  /*Collapse clan tags to icon (with pazazz)*/
  [class^="chipletContainerInner_"] > span > .unselectable__10651 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    will-change: max-width, margin;
    transition: max-width 0.7s cubic-bezier(0.34, 1.56, 0.64, 1), 
                margin 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  [class^="chipletContainerInner_"]:hover > span > .unselectable__10651 {
    max-width: 20ch;
    margin-right: .3ch;
    /* Prevents it from triggering if you just quickly mouseover :D */
    transition-delay: 0.08s;
  }
  [class^="chipletContainerInner_"] > span > img.badge__10651 {
    margin-right: 0;
    transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1), 
                margin 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  [class^="chipletContainerInner_"]:hover > span > img.badge__10651 {
    transform: rotateZ(360deg);
    margin-right: .6ch;
    /* Same as above transition delay */
    transition-delay: 0.08s;
  }
  [class^="chipletContainerInner_"] {
    position: relative;
  }
  [class^="chipletContainerInner_"]::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    pointer-events: none;
  }



/* Fullscreen Settings */
.sidebarRegion__23e6b {flex: none;}
.contentColumn__23e6b, .customColumn__23e6b {
    max-width: 100%;
    min-height: 100%;
}
.accountProfileCard__1fed1 .mask__68edb mask circle {
  display: none;
}
.avatar__1fed1 {
  top: 115px;  /* Change px height to your preference */
/* Vertical Heights: 115px @ 80% Zoom - 92px @ 90% Zoom - 80px @ 100% Zoom */ 
/* Horizontal Heights: 342px @ 90% Zoom - 300px @ 100% Zoom */
}

/*Favourites V2, gradient server images*/
.iconContainerWithGuildIcon__2ea32 {
    .icon__2894c {
        margin-left: 0px;
        margin-top: 0px;
        width: 20px;
        height: 20px;
        background: none !important;

        >path {
            filter: drop-shadow(-1px 0 0px var(--background-base-lowest)) drop-shadow(1px 0 0px var(--background-base-lowest)) drop-shadow(0px 1px 0px var(--background-base-lowest)) drop-shadow(0px -1px 0px var(--background-base-lowest));
        }
    }

    .svg__2338f {
        position: absolute;
        top: -6px;
        left: -10px;
        overflow: visible !important;
        width: calc(28px + var(--space-xxs) + var(--space-xxs));
        height: calc(28px + var(--space-xxs) + var(--space-xxs));
        contain: none;

        foreignObject {
            mask: none !important;
            overflow: hidden !important;
            border-radius: var(--radius-sm) 0 0 var(--radius-sm) !important;
            width: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;

            .channelGuildIcon__2894c {
                position: absolute;
                top: calc(0px - var(--space-xxs) - var(--space-xxs));
                width: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
                height: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
                mask-image: linear-gradient(to right, black 0%, transparent 100%);
                border-radius: 0px !important;
            }
        }


    }
}
.modeSelected__2ea32 .iconWithGuildIcon__2ea32 {
    color: var(--header-primary)
}

/*Collapse Icon Position Fix*/
.containerDefault__29444 {
  > div {
    padding-left: 0.5em;

    > div {
      display: flex !important;
      place-content: start !important;
      flex-direction: row-reverse !important;
    }
  }
}


/*Second Massage Bar Row*/
/* chat input: move buttons to second row */
:where(.visual-refresh) .channelTextArea_f75fb0 .scrollableContainer__74017 {
    overflow-y: hidden;
}
:where(.visual-refresh) .channelTextArea_f75fb0 .scrollableContainer__74017 > div {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    justify-content: flex-end;
}
:where(.visual-refresh) .channelTextArea_f75fb0 .buttons__74017 {
    padding-right: 15px;
    flex-shrink: 3;
}
:where(.visual-refresh) .channelTextArea_f75fb0 .textArea__74017 {
    overflow-y: scroll;
    max-height: calc( var(--custom-channel-textarea-text-area-max-height) - 55px);
    order: -1;
    border-bottom-width: 1px !important;
    border-bottom-color: var(--border-faint);
    border-bottom-style: solid;
}
:where(.visual-refresh) .channelTextArea_f75fb0 .characterCount__795fb {
    translate: 0 -55px;
}
:where(.visual-refresh) .channelTextArea_f75fb0 .attachWrapper__0923f {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 15px;
}
/* COPIED FROM DISCORD CSS */
:where(.visual-refresh) .channelTextArea_f75fb0 .textArea__74017::-webkit-scrollbar {
    width: 12px;
}
:where(.visual-refresh) .channelTextArea_f75fb0 .textArea__74017::-webkit-scrollbar-track {
    border-radius: 0 8px 8px 0
}
:where(.visual-refresh) .channelTextArea_f75fb0 .textArea__74017::-webkit-scrollbar-thumb,
:where(.visual-refresh) .channelTextArea_f75fb0 .textArea__74017::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: 4px solid transparent;
}
:where(.visual-refresh) .channelTextArea_f75fb0 .textArea__74017::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary-800-hsl) /.6);
    border-radius: 8px;
}
/* END: COPIED FROM DISCORD CSS */
/* padding of message input text field to match message width */
:where(.visual-refresh) .channelTextArea_f75fb0 .textArea__74017 > div > * {
    margin-left: 58.5px;
    margin-right: 19px;
}

/*Completed borders*/
[class*='base_'] > [class*='content_'] {
    margin: 0 10px 10px 0;

    [class*='page_'] {
        border: 1px solid var(--app-border-frame);
        border-left: none;
        border-radius: 0 var(--radius-md) var(--radius-md) 0;
    }

    [class*='sidebar_'] {
        &::after {
            display: none;
        }

        [class*='sidebarList_'] {
            border-bottom: 1px solid var(--app-border-frame);
            border-bottom-left-radius: var(--radius-md);
        }
    }

    [class*='chat_'], [class*='callContainer_cb9592'] {
        border: none !important;
    }
}


/* Collapsible sidebars */
.visual-refresh [class^="sidebarList_"] {
  position: fixed; /* Remove if you don't want it to float */
  width: 150px; /* Set to 0px if you don't want it to float */
  container-type: unset;
  opacity: 0%;
  height: 100%;
  z-index: 998;
  left: -70px;
  filter: drop-shadow(16px 16px 16px #0005) ;
  transition-property: opacity, left, width;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.visual-refresh [class^="sidebar_"]:hover [class^="sidebarList_"] {
  left: 70px;
  opacity: 100%;
  width: 300px; /* Set your preferred width here (resize handle is disabled) */
}
.visual-refresh [class*="guilds"] {
  z-index: 999; /* So the sidebar pops from behind the servers */
}
.visual-refresh [class^="panels_"] {
  position: fixed; /* Floating user panel (status, deafen, etc) */
  width: 60px;
  z-index: 999;
  transition: width .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.visual-refresh [class^="panels_"]:hover {
  width: 300px;
  z-index: 9999;
}
.visual-refresh [class^="panels_"] [class^="container__"] [class^="buttons__"] {

  opacity: 0%;
  scale: 0%; /* Because the buttons can't stay inside the panel on chromium (any help is appreciated) */
  transition-property: opacity, margin-bottom, scale;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.visual-refresh .panels_c48ade:hover [class^="container__"] [class^="buttons__"] {
 
   scale: 100%;
   opacity: 100%;
}
.visual-refresh [class^="sidebarResizeHandle_"] {
  display: none; /* Set your preferred width in the sidebar settings */
}
.visual-refresh [class^="container_"] [class^="membersWrap_"] {
  position: fixed; /* Remove if you don't want it to float */
  height: 100%;
  opacity: 0%;
  z-index: 999;
  right: -260px;
/*top: 80px;  /* Add/change this according to your desktop/client */
  filter: drop-shadow(-16px -16px 16px #0005) ;
  transition-property: right, opacity;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.visual-refresh [class^="container_"] [class^="membersWrap_"]:hover {
  right: 0px;
  opacity: 100%;
}


/*Alt Massages Timestamp*/
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}
span[class*="timestampInline_"] {
  font-size: 0px !important;
}

/*Status based Activity Status Icon*/
.tile_d6271c {
    width: 200px !important;

    .tileSizer_d6271c {
        aspect-ratio: 1 / 1;
        width: 200px;

        .tile__2f4f7,
        .background_fb62e2 {
            background: none !important;
        }

        .border__2f4f7 {
            width: 84px;
            height: 84px;
            align-self: center;
            justify-self: center;
            border-radius: 100%;
        }

        .overlayContainer__2f4f7 {
            z-index: 100;
            width: 150px;
            height: 150px;
            align-self: center;
            justify-self: center;
            gap: 0;

            .overlayBottom__2f4f7 {
                height: 130px;
                flex-direction: column-reverse;
                justify-content: space-between;

                .overlayTitle__2f4f7 {
                    opacity: 1;
                    top: 0;
                    justify-content: center;
                    padding: 6px;
                    margin: 0px !important;
                    background: linear-gradient(to top, black 0%, transparent 100%) !important;
                    border-radius: 0px;
                }

                .statusContainer__2f4f7 {
                    width: 84px;
                    align-items: end;
                    align-content: end;
                    justify-content: end;

                    .status__2f4f7 {
                        backdrop-filter: blur(10px);
                    }
                }
            }
        }
    }

    .tileChild__2f4f7:has(.videoWrapper__2f4f7) {
        .overlayContainer__2f4f7 {
            width: calc(100% - 16px);
            height: calc(100% - 16px);
            z-index: auto;
        }

        .border__2f4f7 {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: var(--custom-base-tile-border-radius);
            pointer-events: none;
            width: 100%;
            height: 100%;
        }
    }
}
.listItems_affa7e {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
}
.controlSection_bfe55a {
    opacity: 1 !important;
    transform: none !important;}


.form_f75fb0:has(.innerDisabled__74017) {
    display: none !important;
}


/*Collapsible chat actions*/
/*
[class^=chat_] [class*=textArea_] {
  margin-right: 32px;
  +[class^=buttons_] {
    position: absolute;
    right: 0;
    background-color: color-mix(in oklab, var(--chat-background-default) 0%, transparent);
    backdrop-filter: blur(3px);
    border-radius: 8px 0 0 8px;
    &:hover {
      box-shadow: 0 0 8px #0003;
    }
    &:not(:hover)>:not(:last-child) {
      display: none;
    }
  }
}
*/



/*Animated Voice Channel Icon*/
/* Change the first path definition of the volume icon SVG to be the moving part of my new animated SVG */
.containerDefault_f6f816:has([class*="voiceUser_"]) .iconContainer_d8bfb3 svg.icon_d8bfb3 path[d^="M15.16"] {
    d: path("M15.1 20.75c-.58.14-1.1-.33-1.1-.92v-.03c0-.5.37-.92.85-1.05a7 7 0 0 0 0-13.5A1.11 1.11 0 0 1 14 4.2v-.03c0-.6.52-1.06 1.1-.92a9 9 0 0 1 0 17.5Z");
    animation-name: volume-icon-anim;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
}
/* Change the second path definition of the volume icon SVG to be the static part of my new animated SVG */
.containerDefault_f6f816:has([class*="voiceUser_"]) .iconContainer_d8bfb3 svg.icon_d8bfb3 path[d^="M12"] {
    d: path("M12 3a1 1 0 0 0-1-1h-.06a1 1 0 0 0-.74.32L5.92 7H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.92l4.28 4.68a1 1 0 0 0 .74.32H11a1 1 0 0 0 1-1V3ZM15.16 16.51c-.57.28-1.16-.2-1.16-.83v-.14c0-.43.28-.8.63-1.02a3 3 0 0 0 0-5.04c-.35-.23-.63-.6-.63-1.02v-.14c0-.63.59-1.1 1.16-.83a5 5 0 0 1 0 9.02Z");
}
/* change color of animation to match Discord's "Live" icon when someone is live-streaming */
.containerDefault_f6f816:has([class*="live_"], [class*="baseShapeRound_"]) .iconContainer_d8bfb3 svg.icon_d8bfb3 path[d^="M15.16"] {
    animation-name: volume-icon-anim-live;
}
.containerDefault_f6f816:has([class*="live_"], [class*="baseShapeRound_"]) .iconContainer_d8bfb3 svg.icon_d8bfb3 path[d^="M12"] {
    color: var(--red-400);
}
/* Animation when there is someone in a voice channel */
@keyframes volume-icon-anim {
    0%, 100%  {color: transparent;}
    50%  {color: var(--currentColor);}
}
/* Animation when there is someone live-streaming in a voice channel */
@keyframes volume-icon-anim-live {
    0%, 100% {color: transparent;}
    50%  {color: var(--red-400);}
}




/*Mute Channel List Emojis*/
[class*="modeMuted_"]:has([class^="icon_"]) [class^="name_"] {
    color: var(--channel-icon);
    opacity: 40%;
}


/*Changes the default control icons to beautiful animated icons.*/
.winButton_c38106 {
    position: relative !important;
    background-color: transparent !important;
    margin: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.winButtons_c38106 {
    gap: 0 !important;
    display: flex !important;
    align-items: center !important;
}
.winButton_c38106 svg {
    opacity: 0 !important;
    display: none !important;
}
.winButton_c38106::before {
    content: "" !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: bold !important;
    width: 14px !important;
    height: 14px !important;
    transition: color 0.3s ease, text-shadow 0.7s ease, transform 0.7s ease-in-out, filter 0.7s ease !important;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
}
.winButtonClose_c38106::before {
    content: "✖" !important;
    color: #d83a42 !important; /* Red color */
    top: 53% !important;
    font-size: 20px !important;
    left: 50% !important;
    font-weight: normal !important; /* Fixed weight */
    text-shadow: 0 0 3px #d83a42 !important; /* Light outline for stability */
    will-change: transform !important; /* Optimization for animation */
    transform: translate(-50%, -50%) !important;
}
.winButtonClose_c38106:hover::before {
    color: #d83a42 !important; /* Brighter red on hover */
    text-shadow: 
    0 0 5px #ff3b44cc,
    0 0 10px #ff3b4499,
    0 0 15px #ff3b4480,
    0 0 20px #ff3b4466,
    0 0 25px #ff3b444d,
    0 0 30px #ff3b4433 !important;
    filter: brightness(1.1) !important;
    transform: translate(-50%, -50%) rotate(180deg) !important; /* Rotation animation */
}
.winButtonMinMax_c38106:nth-child(1)::before {
    content: "⚋" !important;
    color: #faa61a !important; /* Yellow color */
    top: 55% !important;
    font-size: 20px !important;
    left: 50% !important;
    -webkit-text-stroke: 0.5px #faa61a !important; /* Fix outline */
    text-rendering: geometricPrecision !important;
    will-change: transform !important; /* Optimization for animation */
    text-shadow: 0 0 3px #faa61a !important; /* Light outline for stability */
}
.winButtonMinMax_c38106:nth-child(1):hover::before {
    color: #faa61a !important;
    text-shadow: 
        0 0 5px #faa61a,
        0 0 10px #b3760f,
        0 0 15px #c98105,
        0 0 20px #b17307,
        0 0 25px #996606b6,
        0 0 30px #9663059a !important;
    filter: brightness(1.2) !important;
    transform: translate(-50%, -50%) rotate(180deg) !important;
}
.winButtonMinMax_c38106:nth-child(2)::before {
    content: "⛶" !important;
    color: #23a55a !important; /* Green color */
    top: 55% !important;
    font-size: 20px !important;
    left: 50% !important;
    -webkit-text-stroke: 0.5px #23a55a !important; /* Fix outline */
    text-rendering: geometricPrecision !important;
    will-change: transform !important; /* Optimization for animation */
    text-shadow: 0 0 3px #23a55a !important; /* Light outline for stability */
}
.winButtonMinMax_c38106:nth-child(2):hover::before {
    color: #2ecc71 !important;
    text-shadow: 
        0 0 5px #2ecc71cc,
        0 0 10px #2ecc7199,
        0 0 15px #2ecc7180,
        0 0 20px #2ecc7166,
        0 0 25px #2ecc714d,
        0 0 30px #2ecc7133 !important;
    filter: brightness(1.2) !important;
    transform: translate(-50%, -50%) rotate(180deg) !important;
}
@container body style(--custom-window-controls: off) and style(--top-bar-button-position: titlebar) {
    .visual-refresh .winButton_c38106 {
        border-radius: 0 !important;
    }
    
    .visual-refresh .winButtons_c38106 {
        gap: 0 !important;
    }
}


































































